@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

*{
    box-sizing: border-box;
    /* width: 1493px; */
}

body{
    font-family: 'Courier New', Courier, monospace;
    background: #FFFFFF;
    overflow-x: hidden;
    color: #000000;
    /* margin: 5px;
    padding: 5px;
    margin-right: 5px; */
}

.container{ 
    background-color: #FFFFFF;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vh;
    min-height: 100vh;
    padding: 50px;


}

.container .show-nav {
    transform: rotate(-20deg);
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;

}

.circle{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border-radius: 85px;
    position: relative;
    transition: transform 0.5s linear;

}


.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #FFFFFF;
}

.circle button:focus{
    outline: none;

}

.circle button#open{
    left: 60%;
}

.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left ;
}

.content img{
    max-width: 1120px;
    height: 1493px;
    left: 160px;
    right: 160px;

}